/* nav bar code end */
.main{
    background-image: url('test1.jpeg');
    background-size: 1540px;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
.wlc{
  text-align: center;
  font-family: monospace;
  font-size: bold;
  background-color:rgb(212, 209, 209)
}

#but{
  margin-left: 110px;
  margin-bottom: -30px;
  }
